<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="heartbeatTask" class="ch03.sample1.HeartbeatTask"/>
  
  <bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
    <property name="timerTask"><ref local="heartbeatTask"/></property>
    <property name="period"><value>1000</value></property>
  </bean>

  <bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
    <property name="scheduledTimerTasks">
      <list>
        <ref local="scheduledTask"/>
      </list>
    </property>
  </bean>
  
  <bean id="heartbeatForwarder" class="ch03.sample1.HeartbeatForwarder"/>

</beans>
