<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <bean id="testBeanObtainedViaStaticFactory"
        class="ch02.sample5.StaticFactory" factory-method="getTestBeanInstance"/>

  <bean id="nonStaticFactory" class="ch02.sample5.NonStaticFactory"/>

  <bean id="testBeanObtainedViaNonStaticFactory"
        factory-bean="nonStaticFactory" factory-method="getTestBeanInstance"/>
  
</beans>
